<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pan.dao.ResourceDao">
    <resultMap id="ResourceMap" type="Resource">
        <id property="resource_id" column="resource_id"/>
        <result property="resource_name" column="resource_name"/>
        <result property="resource_url" column="resource_url"/>
        <result property="resource_remark" column="resource_remark"/>
        <result property="resource_icon" column="resource_icon"/>
        <result property="resource_pid" column="resource_pid"/>
        <result property="resource_seq" column="resource_seq"/>
        <result property="resource_state" column="resource_state"/>
        <result property="resource_type" column="resource_type"/>
        <result property="resource_createTime" column="resource_createtime"/>
        <collection property="roles" ofType="Role">
            <id property="role_id" column="role_id"/>
            <result property="role_name" column="role_name"/>
            <result property="role_seq" column="role_seq"/>
            <result property="role_remark" column="role_remark"/>
            <result property="role_isDefault" column="role_is_default"/>
        </collection>
    </resultMap>

    <sql id="joinRoleResource">
        left join tb_role_resource rr on rr.resource_id=re.resource_id
    </sql>
    <sql id="joinRole">
        left join tb_role ro on ro.role_id=rr.role_id
    </sql>

    <sql id="joinUserRole">
        left join tb_user_role ur on ro.role_id=ur.role_id
    </sql>
    <sql id="joinUser">
        left join tb_user us on us.user_id=ur.user_id
    </sql>
    <select id="findAll" resultMap="ResourceMap">
        select * from tb_resource re,tb_role role,tb_role_resource rr where
        re.resource_id=rr.resource_id and role.role_id=rr.role_id
    </select>

    <select id="getResourceUrl" resultType="java.lang.String">
        select re.resource_url from tb_resource re <include refid="joinRoleResource"/>
        <include refid="joinRole"/> <include refid="joinUserRole"/>
        <include refid="joinUser"/> where us.user_id=#{query_id}
    </select>

    <select id="findByAny" resultMap="ResourceMap">
        select * from tb_resource re
        <where>
            <if test="query_id != null">
               and re.resource_id=#{query_id}
            </if>
            <if test="query_name != null and query_name != ''">
               and re.resource_name=#{query_name}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="resource_id">
        insert into tb_resource values(null,#{resource_name} ,
        #{resource_url} ,#{resource_remark} ,#{resource_icon} ,#{resource_pid} ,
        #{resource_seq},#{resource_state} ,#{resource_type}, sysdate() )
    </insert>

    <update id="updateById" >
        update  tb_resource as re
        <set>
            <if test="resource_name != null and resource_name != ''">
                re.resource_name=#{resource_name}
            </if>
            <if test="resource_remark != null and resource_remark != ''">
                ,re.resource_remark=#{resource_remark}
            </if>
            <if test="resource_url != null and resource_url != ''">
                ,re.resource_url=#{resource_url}
            </if>
            <if test="resource_icon != null and resource_icon != ''">
                ,re.resource_icon=#{resource_icon}
            </if>
            <if test="resource_pid != null">
                ,re.resource_pid=#{resource_pid}
            </if>
            <if test="resource_seq != null">
                ,re.resource_seq=#{resource_seq}
            </if>
            <if test="resource_state != null">
                ,re.resource_state=#{resource_state}
            </if>
            <if test="resource_type != null">
                ,re.resource_type=#{resource_type}
            </if>

        </set>
        <where>
            re.resource_id=#{resource_id}
        </where>
    </update>
</mapper>